<%= simple_form_for resource, remote: true do |f| %>
  <%= hidden_field_tag :report, true if params[:report].present? %>

  <%= f.input :name %>

  <%= f.input :formula %>

  <div class="form-group">
    <div class="float-left">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>

    <div class="float-right">
      <%= link_to 'Повернутися', :cashes, data: { remote: true } %>
    </div>
  </div>
<% end %>
