<%= simple_form_for resource, remote: true, wrapper: :horizontal_form do |f| %>
  <%= hidden_field_tag :report, true if params[:report].present? %>

  <%= f.input :name %>

  <%= f.input :formula %>

  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <div class="clearfix">
        <div class="float-left">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>

        <div class="float-right">
          <%= link_to 'Повернутися', :cashes, data: { remote: true } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
