<tr>
  <td>
    <%= link_to category.name, [:edit, :backoffice, category], data: { remote: true } %>
  </td>

  <td class="text-center">
    <div class="<%= category.income? ? 'text-success' : 'text-warning' %>">
      <%= t category.income? %>
    </div>
  </td>

  <td class="text-center">
    <div class="<%= category.visible? ? 'text-success' : 'text-warning' %>">
      <%= t category.visible? %>
    </div>
  </td>

  <td>
    <%= link_to 'Теги', [:backoffice, category, :tags],
      class: 'btn btn-sm btn-outline-primary', data: { remote: true } %>
  </td>
</tr>
