<tr>
  <td>
    <%= category.name %>
  </td>

  <td class="text-center">
    <div class="supercategory">
      <%= I18n.t(category.supercategory, scope: 'category.supercategory') %>
    </div>
  </td>

  <td class="text-center">
    <div class="<%= category.income? ? 'text-success' : 'text-warning' %>">
      <%= t category.income? %>
    </div>
  </td>

  <td class="text-center">
    <div class="<%= category.visible? ? 'text-success' : 'text-warning' %>">
      <%= t category.visible? %>
    </div>
  </td>

  <td>
    <%= link_to 'Редагувати', [:edit, :backoffice, category],
      data: { remote: true }, class: 'btn btn-sm btn-outline-primary' %>
  </td>
</tr>
