<%= form_for [:backoffice, resource], remote: true, html: { autocomplete: :off } do |f| %>
  <%= f.hidden_field :currency %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group mt-3">
    <div class="form-check">
      <%= f.check_box :income, class: 'form-check-input' %>

      <%= f.label :income, class: 'form-check-label' %>
    </div>
  </div>

  <div class="form-group mt-3">
    <div class="form-check">
      <%= f.check_box :visible, class: 'form-check-input' %>

      <%= f.label :visible, class: 'form-check-label' %>
    </div>
  </div>

  <div class="form-group mt-4">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
