<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <%= render partial: 'frontend/dashboard/cash', collection: resource.cashes_favorite %>

          <% resource.cashes_summary.each do |supercategory, sum| %>
            <div class="cash">
              <div class="cash-name">
                <%= t(supercategory, scope: 'cash.supercategory') %>
              </div>

              <div class="cash-sum">
                <%= link_to money(sum), frontend_cashes_path(supercategory:), data: { remote: true } %>
              </div>
            </div>
          <% end %>

          <div class="cash">
            <div class="cash-name">
              <%= t(:at_end) %>
            </div>

            <div class="cash-sum" id="at_end">
              <%= money(resource.at_end) %>
            </div>
          </div>

          <div class="cash">
            <div class="cash-name">
              <%= t(:balance) %>
            </div>

            <div class="cash-sum" id="balance">
              <%= money(resource.balance) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
