<%= render 'form' %>

<div class="d-none" id="breadcrumbs">
  <%= breadcrumbs do %>
    <%= link_to 'Категорії', [:backoffice, :categories], class: 'breadcrumb-item', data: { remote: true } %>

    <span class="breadcrumb-item active"><%= resource.category.name %></span>

    <%= link_to 'Теги', [:backoffice, resource.category, :tags], class: 'breadcrumb-item', data: { remote: true } %>

    <span class="breadcrumb-item active">Редагування тегу</span>
  <% end %>
</div>
