<div class="mb-3">
  <%= link_to 'Додати', [:new, :backoffice, category, :tag],
    class: 'btn btn-sm btn-outline-success', data: { remote: true } %>
</div>

<% if collection.any? %>
  <div class="mb-3">
    <%= render collection %>
  </div>
<% else %>
  <div class="alert alert-warning">
    Немає тегів для відображення
  </div>
<% end %>

<div class="d-none" id="breadcrumbs">
  <%= breadcrumbs do %>
    <%= link_to 'Категорії', [:backoffice, :categories], class: 'breadcrumb-item', data: { remote: true } %>

    <span class="breadcrumb-item active"><%= category.name %></span>

    <span class="breadcrumb-item active">Теги</span>
  <% end %>
</div>
