<%= simple_form_for [:backoffice, resource], remote: true, html: { autocomplete: :off } do |f| %>
  <%= f.hidden_field :currency %>

  <%= f.input :name %>

  <%= f.input :formula %>

  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
