<%= form_for [:backoffice, resource], remote: true, html: { autocomplete: :off } do |f| %>
  <%= f.hidden_field :currency %>

  <div class="form-group">
    <%= input(f, :name) %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :supercategory %>

    <%= f.select :supercategory, Cash.supercategories, { include_blank: false }, { class: 'form-select' } %>
  </div>

  <div class="form-group mt-3">
    <%= input(f, :formula) %>
  </div>

  <div class="form-group mt-4">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
