<%= form_for resource, url: frontend_cash_path(resource), remote: true, html: { autocomplete: :off } do |f| %>
  <div class="form-group">
    <%= input(f, :name) %>
  </div>

  <div class="form-group mt-3">
    <%= input(f, :formula) %>
  </div>

  <div class="form-group mt-3">
    <%= f.submit class: 'btn btn-primary' %>

    <%= t(:or) %>

    <%= link_to t(:back), frontend_cashes_path(supercategory: resource.supercategory), data: { remote: true } %>
  </div>
<% end %>
