<%= simple_form_for decorated, wrapper: :horizontal_form, remote: true, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :date, as: :string, input_html: { class: 'bootstrap-datepicker' } %>

  <%= f.input :formula, as: :string %>

  <div class="form-group row">
    <%= f.label :category_id, class: 'form-control-label col-sm-2' %>
    
    <div class="col-sm-10">
      <%= f.select :category_id, grouped_options_for_select(Category.group_by_income, resource.category_id), {},
        class: 'form-control' %>

      <%= f.error :category_id %>
    </div>
  </div>

  <%= f.input :description %>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <div class="float-sm-left">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>

      <%= content_tag :div, class: 'float-sm-right' do %>
        <%= link_to 'Видалити', resource,
          data: { method: :delete, confirm: 'Ви впевнені?', remote: true }, class: 'btn btn-danger' %>
      <% end unless resource.new_record? %>
    </div>
  </div>
<% end %>
