<%= form_for decorated, remote: true, html: { autocomplete: :off } do |f| %>
  <div class="form-group">
    <%= input(f, :date, input_html: { class: 'datepicker' }) %>
  </div>

  <div class="form-group mt-3">
    <%= input(f, :formula) %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :category_id %>

    <%= f.select :category_id, grouped_options_for_select(category_widget_data, resource.category_id), {},
      { class: 'form-select', data: { width: '100%' } } %>
  </div>

  <div class="form-group mt-3">
    <%= render partial: 'backoffice/tags/tag', collection: resource.category.tags %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :description %>

    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group mt-4">
    <div class="float-start">
      <%= f.submit class: 'btn btn-outline-primary' %>
    </div>

    <%= content_tag :div, class: 'float-end' do %>
      <%= link_to 'Видалити', resource,
        data: { method: :delete, confirm: t(:destroy_confirmation), remote: true }, class: 'btn btn-outline-danger' %>
    <% end unless resource.new_record? %>
  </div>
<% end %>
