<%= simple_form_for decorated, remote: true do |f| %>
  <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>

  <%= f.input :formula, as: :string %>

  <div class="form-group">
    <%= f.select :category_id, grouped_options_for_select(category_widget_data, resource.category_id), {},
      { class: 'form-control', data: { width: '100%' } } %>
  </div>

  <%= f.input :description %>

  <div class="form-group">
    <div class="float-left">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>

    <%= content_tag :div, class: 'float-right' do %>
      <%= link_to 'Видалити', resource,
        data: { method: :delete, confirm: t(:destroy_confirmation), remote: true }, class: 'btn text-danger' %>
    <% end unless resource.new_record? %>
  </div>
<% end %>
