<%= simple_form_for decorated, remote: true, html: { class: 'item-form' } do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.input_field :date, as: :string, class: "datepicker #{ 'invalid' if f.error(:date).present? }" %>

      <%= f.label :date, required: false %>

      <%= f.error :date %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.input_field :formula, as: :string, class: (:invalid if f.error(:formula).present?) %>

      <%= f.label :formula, required: false %>

      <%= f.error :formula %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 item-form-category">
      <%= f.select :category_id, grouped_options_for_select(Category.group_by_income, resource.category_id), {} %>

      <%= f.label :category_id, required: false %>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s12">
      <%= f.input_field :description %>

      <%= f.label :description %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <div class="left">
        <%= f.button :submit, class: 'btn' %>
      </div>

      <%= content_tag :div, class: 'right' do %>
        <%= link_to 'Видалити', resource,
          data: { method: :delete, confirm: 'Ви впевнені?', remote: true }, class: 'btn red darken-2' %>
      <% end unless resource.new_record? %>
    </div>
  </div>
<% end %>
