<div class="card" id="item-inline-form">
  <div class="card-body">
    <%= form_for resource, remote: true, html: { autocomplete: :off } do |f| %>
      <%= f.hidden_field :currency %>

      <div class="item-inline-form-date">
        <%= f.text_field :date,
          class: 'form-control datepicker', placeholder: t('activerecord.attributes.item.date') %>
      </div>

      <div class="item-inline-form-formula">
        <%= f.text_field :formula, class: 'form-control', placeholder: t('activerecord.attributes.item.formula') %>
      </div>

      <div class="item-inline-form-category">
        <%= f.select :category_id,
          grouped_options_for_select(category_widget_data, resource.category_id), {}, { class: 'form-select' } %>
      </div>

      <div class="item-inline-form-description">
        <%= f.text_field :description,
          class: 'form-control', placeholder: t('activerecord.attributes.item.description') %>
      </div>

      <div class="float-right">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
