<div class="container">
  <%= simple_form_for resource, remote: true, html: { class: 'item-form' } do |f| %>
    <%= f.text_field :date, class: 'form-control bootstrap-datepicker item-form__date' %>

    <%= f.text_field :formula, class: 'form-control item-form__formula' %>

    <%= f.select :category_id, grouped_options_for_select(Category.group_by_income, resource.category_id), {},
      class: 'form-control item-form__category-id' %>

    <%= f.text_field :description, placeholder: t('activerecord.attributes.item.description'),
      class: 'form-control item-form__description' %>

    <%= f.button :submit, class: 'btn btn-primary item-form__submit' %>
  <% end %>
</div>
