<div class="item-form-container">
  <%= simple_form_for resource, remote: true do |f| %>
    <div class="input-field item-form-date">
      <%= f.text_field :date, class: 'datepicker' %>

      <%= f.label :date, required: false %>
    </div>

    <div class="input-field item-form-formula">
      <%= f.text_field :formula %>

      <%= f.label :formula, required: false %>
    </div>

    <div class="input-field item-form-category">
      <%= f.select :category_id, grouped_options_for_select(Category.group_by_income, resource.category_id), {} %>
    </div>

    <div class="input-field item-form-description">
      <%= f.text_field :description %>

      <%= f.label :description %>
    </div>

    <div class="input-field">
      <%= f.button :submit, class: 'btn item-form-submit' %>
    </div>
  <% end %>
</div>
