<tr id="<%= dom_id item %>">
  <td class="center-align">
    <%= l item.date %>
  </td>

  <td class="right-align">
    <%= link_to money(item.sum), [:edit, item], remote: true %>
  </td>
  
  <td class="center-align">
    <%= item.category.name %>
  </td>

  <td>
    <%= item.description %>
  </td>
</tr>
