<tr id="<%= dom_id item %>">
  <td class="items-date">
    <%= l item.date %>
  </td>

  <td class="items-sum">
    <%= link_to money(item.sum), [:edit, item], remote: true %>
  </td>
  
  <td class="items-category">
    <%= item.category.name %>
  </td>

  <td>
    <%= sanitize item.description %>
  </td>
</tr>
