<div class="container">
  <div class="row mt-4">
    <div class="col">
      <%= render 'inline_form', resource: new_item_for_inline_form %>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div id="cashes"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col">
      <div class="card consolidations">
        <div class="card-body" id="consolidations"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-4 mb-5">
    <div class="col">
      <div class="card items">
        <div class="card-body">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th class="items-date">Дата</th>
                <th class="items-sum">Сума</th>
                <th class="items-category">Категорія</th>
                <th>Примітка</th>
              </tr>
            </thead>

            <tbody id="items"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'widgets/modal' %>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $.getScript('<%= cashes_path %>');

    $.getScript('<%= root_path %>');

    items.InlineForm();
  <% end %>
<% end %>
