<%= render 'inline_form', resource: Item.new %>

<div class="row">
  <div class="col s4 offset-s4" id="cashes"></div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <table class="highlight">
      <thead>
        <tr>
          <th class="center-align">Дата</th>
          <th class="right-align">Сума</th>
          <th class="center-align">Категорія</th>
          <th>Примітка</th>
        </tr>
      </thead>

      <tbody id="items">
        <% if collection.any? %>
          <%= render collection %>
        <% else %>
          <%= render 'not_found' %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'widgets/modal' %>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $.getScript('<%= url_for [:cashes, { report: true }] %>');
    });
  <% end %>
<% end %>
