<div class="container mt-4">
  <div class="row">
    <div class="col">
      <%= render 'inline_form', resource: new_item_for_inline_form %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-4" id="cashes">
    <%= render partial: 'cashes/at_end_and_balance' %>

    <%= render partial: 'cashes/index', collection: dashboard.cashes, as: :cashes %>
  </div>
</div>

<div class="container-fluid">
  <div class="clearfix mt-4" id="consolidations"></div>
</div>

<div class="container">
  <div class="row mt-4 mb-5">
    <div class="col">
      <div class="card items">
        <div class="card-body">
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th class="items-date">Дата</th>
                <th class="items-sum">Сума</th>
                <th class="items-category">Категорія</th>
                <th>Примітка</th>
              </tr>
            </thead>

            <tbody id="items"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'widgets/modal' %>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    // TODO: delme
    $.getScript('<%= root_path %>');
  <% end %>
<% end %>
