<%= render 'widgets/header' %>

<%= render 'inline_form', resource: Item.new %>

<div class="container">
  <%= render 'cashes/cashes', cashes: cashes %>
</div>

<%= render 'consolidates/consolidates', consolidates: consolidates %>

<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="item__date">Дата</th>
        <th class="item__sum">Сума</th>
        <th class="item__category">Категорія</th>
        <th>Примітка</th>
      </tr>
    </thead>

    <tbody id="items">
      <% if collection.any? %>
        <%= render collection %>
      <% else %>
        <%= render 'not_found' %>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'widgets/modal' %>
