<tr>
  <td><%= category.name %></td>
  <td><%= t("#{category.income}") %></td>
  <td><%= category.slug %></td>
  <td><%= t("#{category.visible}") %></td>
  <td><%= link_to 'Редагувати', [:edit, category], remote: true, class: 'btn btn-secondary btn-block btn-sm' %></td>
</tr>
