<tr>
  <td><%= category.name %></td>

  <td class="text-align-center">
    <div class="<%= category.income? ? 'text-success' : 'text-warning' %>">
      <%= t category.income? %>
    </div>
  </td>

  <td class="text-align-center">
    <div class="<%= category.visible? ? 'text-success' : 'text-warning' %>">
      <%= t category.visible? %>
    </div>
  </td>

  <td class="text-align-right">
    <%= link_to 'Редагувати', [:edit, category], data: { remote: true }, class: 'btn btn-sm btn-primary' %>
  </td>
</tr>
