<div class="container">
  <h3>Категорії:</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Назва</th>
        <th>Income</th>
        <th>Slug</th>
        <th>Видима</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= display_boolean category.income %></td>
          <td><%= category.slug %></td>
          <td><%= display_boolean category.visible %></td>
          <td><%= link_to 'Переглянути', category, class: 'btn btn-secondary btn-block btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Додати нову категорію', :new_category, class: 'btn btn-primary btn-block' %>
</div>