<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Balance on AJAX</title>

    <%= stylesheet_link_tag :application %>

    <link rel="apple-touch-icon" href="<%= image_path 'dollar.png' %>">

    <%= favicon_link_tag 'dollar.png' %>

    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= render 'widgets/header' %>

    <main>
      <%= yield %>
    </main>

    <div id="ajax-loader">
      <%= image_tag 'ajax-loader.gif' %>
    </div>

    <%= link_to :backoffice, class: 'link-to-backoffice', data: { remote: true } do %>
      <span class="icon-sliders"></span>
    <% end %>

    <%= javascript_include_tag :application %>
  </body>
</html>
